XTerm*utf8: true
XTerm*locale: true
XTerm*selectToClipboard: true
XTerm*faceName: 'Monospace'
XTerm*faceSize: 10
XTerm*cjkWidth: true
! XTerm*reverseVideo: true

*customization: color
*background: #212121
*foreground: #fafafa
*color0: #212121
*color1: #ef5350
*color2: #66bb6a
*color3: #ffca28
*color4: #5c6bc0
*color5: #ff7043
*color6: #29b6f6
*color7: #bdbdbd
*color8: #a7c0cd
*color9: #ff77a9
*color10: #98ee99
*color11: #fffd61
*color12: #8e99f3
*color13: #ffd95b
*color14: #80d6ff
*color15: #fafafa

